{{docs-hero
  logo='ember'
  slimHeading='Selects'
  strongHeading=''
  byline='Flawless UI components for selecting things.'}}

{{#docs-demo as |demo|}}
  {{#demo.example name='my-demo.hbs'}}
    <p>Make sure to read up on the DocsDemo component before building out this page.</p>
  {{/demo.example}}
{{/docs-demo}}